In [7]:
import pandas as pd

In [8]:
# read the data file 
df = pd.read_csv("all_data_copy.csv")

In [9]:
# to read 5 rows from data 
print(df.head())

  Order ID                   Product Quantity Ordered Price Each  \
0   141234                    iPhone                1        700
1   141235  Lightning Charging Cable                1      14.95
2   141236          Wired Headphones                2      11.99
3   141237          27in FHD Monitor                1     149.99
4   141238          Wired Headphones                1      11.99

       Order Date                       Purchase Address
0  01/22/19 21:25        944 Walnut St, Boston, MA 02215
1  01/28/19 14:15       185 Maple St, Portland, OR 97035
2  01/17/19 13:33  538 Adams St, San Francisco, CA 94016
3  01/05/19 20:33     738 10th St, Los Angeles, CA 90001
4  01/25/19 11:59          387 10th St, Austin, TX 73301

In [10]:
# how many rows and coulmns in the data_set
print('rows , coulmns ', df.shape)

rows , coulmns  (373700, 6)

In [11]:
# information about the data 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373700 entries, 0 to 373699
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          372610 non-null  object
 1   Product           372610 non-null  object
 2   Quantity Ordered  372610 non-null  object
 3   Price Each        372610 non-null  object
 4   Order Date        372610 non-null  object
 5   Purchase Address  372610 non-null  object
dtypes: object(6)
memory usage: 17.1+ MB
None

In [12]:
# check the null values 
print(df.isnull().sum())

Order ID            1090
Product             1090
Quantity Ordered    1090
Price Each          1090
Order Date          1090
Purchase Address    1090
dtype: int64

In [13]:
# delete the null values 
df_cleaned = df.dropna() 

# check if there any value after deleting
print(df_cleaned.isnull().sum())

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [14]:
print(df.dtypes)

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

In [15]:
# change price each and the quantity ordered to an numeric vakue 
df['Price Each'] = pd.to_numeric(df['Price Each'],errors='coerce')
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'],errors='coerce')

In [16]:
#deleting any values  not a numbers  in the quantaty ordered
df = df[df['Quantity Ordered'].astype(str).str.isnumeric()]
df['Quantity Ordered'] = df['Quantity Ordered'].astype(int)

In [17]:
# delete all the rebeated values 
print ('before deleting :{len(df)}' )
df = df.drop_duplicates() 
print('after deleting :{len(df)}')

before deleting :{len(df)}
after deleting :{len(df)}

In [18]:

df.columns = df.columns.str.strip()
print(df.columns)

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [19]:
#text cleanning 
df['Product'] = df['Product'].astype(str).apply(lambda x : x.strip().str.lower())

In [20]:
# check after all the steps that we all good 
# data after cleanning 
print("head", df.head)
#check there is no more null
print("null checking" , df.isnull().sum())
#all  data types is correct 
print("data types :" , df.dtypes)

head <bound method NDFrame.head of Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address]
Index: []>
null checking Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64
data types : Order ID             object
Product              object
Quantity Ordered      int64
Price Each          float64
Order Date           object
Purchase Address     object
dtype: object

In [26]:
# تحويل الأعمدة لنوع رقمي
df_cleaned["Quantity Ordered"] = pd.to_numeric(df_cleaned["Quantity Ordered"], errors="coerce")
df_cleaned["Price Each"] = pd.to_numeric(df_cleaned["Price Each"], errors="coerce")

# حذف الصفوف اللي حصل فيها خطأ (قيم NaN)
df_cleaned = df_cleaned.dropna(subset=["Quantity Ordered", "Price Each"])

# الآن نقدر نحسب عمود Sales
df_cleaned["Sales"] = df_cleaned["Quantity Ordered"] * df_cleaned["Price Each"]

# التأكد من النتائج
print(df_cleaned.head())

  Order ID                   Product  Quantity Ordered  Price Each  \
0   141234                    iPhone               1.0      700.00
1   141235  Lightning Charging Cable               1.0       14.95
2   141236          Wired Headphones               2.0       11.99
3   141237          27in FHD Monitor               1.0      149.99
4   141238          Wired Headphones               1.0       11.99

       Order Date                       Purchase Address   Sales
0  01/22/19 21:25        944 Walnut St, Boston, MA 02215  700.00
1  01/28/19 14:15       185 Maple St, Portland, OR 97035   14.95
2  01/17/19 13:33  538 Adams St, San Francisco, CA 94016   23.98
3  01/05/19 20:33     738 10th St, Los Angeles, CA 90001  149.99
4  01/25/19 11:59          387 10th St, Austin, TX 73301   11.99

C:\Users\Dell\AppData\Local\Temp\ipykernel_12428\107411675.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Sales"] = df_cleaned["Quantity Ordered"] * df_cleaned["Price Each"]

In [28]:
# لحساب قيمه المبيعات لكل صف 
df_cleaned["Sales"] = df_cleaned['Quantity Ordered']  * df_cleaned["Price Each"]
print(df_cleaned.head())

  Order ID                   Product  Quantity Ordered  Price Each  \
0   141234                    iPhone               1.0      700.00
1   141235  Lightning Charging Cable               1.0       14.95
2   141236          Wired Headphones               2.0       11.99
3   141237          27in FHD Monitor               1.0      149.99
4   141238          Wired Headphones               1.0       11.99

       Order Date                       Purchase Address   Sales
0  01/22/19 21:25        944 Walnut St, Boston, MA 02215  700.00
1  01/28/19 14:15       185 Maple St, Portland, OR 97035   14.95
2  01/17/19 13:33  538 Adams St, San Francisco, CA 94016   23.98
3  01/05/19 20:33     738 10th St, Los Angeles, CA 90001  149.99
4  01/25/19 11:59          387 10th St, Austin, TX 73301   11.99

C:\Users\Dell\AppData\Local\Temp\ipykernel_12428\2904642913.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned["Sales"] = df_cleaned['Quantity Ordered']  * df_cleaned["Price Each"]

In [ ]:
print(df_cleaned["Quantity Ordered"].apply(type).value_counts())

Quantity Ordered
<class 'float'>    371900
Name: count, dtype: int64

In [ ]:
# تجميع البيانات حسب الشهر وحساب مجموع المبيعات
monthly_sales = df_cleaned.groupby("Month")["Sales"].sum().reset_index()
print(monthly_sales)

KeyError: 'Month'